::ng-deep{
.estado-active {
    background-color: #b5e4c0;
    border-radius: 5px;
  }
  
  .estado-disabled {
    background-color: #ffc2c7;
    border-radius: 5px;
  }

  .mesa-ubicacion{
    color: #011a52;
    font-weight: bold;
  }
  .relative-container {
    position: relative;
  }
  
  .btn-on-tabs {
    position: absolute;
    top: 0.5rem;
    right: 1rem; 
    z-index: 5; 
  }
  .p-dropdown {
    width: 100%;
}
  
}